*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: darkcyan;
}

.container {
  width: 700px;
  height: 700px;
  background-color: aliceblue;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  overflow: hidden;
}

.square {
  width: 10%;
  height: 10%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

button {
  padding: 15px;
  font-size: 4rem;
  border: none;
  border-radius: 15px;
  margin-bottom: 25px;
  cursor: pointer;
}